<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Python with Flask</title>
  <style>
    body {
      font-family: Roboto;
      font-size: 1rem;
      font-weight: 400;
      color: #3e3e3e;
      margin: 0;
    }

    .main-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 2rem;
    }

    .main-inner {
      margin: 0 auto;
      max-width: 800px;
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 2rem;
    }
  </style>
</head>
<body>
  
  {% include 'nav.html' %}
  
  <section class="main-container">
    <div class="main-inner">
      <h1>Python with Flask</h1>
      <p>Maecenas egestas arcu quis ligula mattis placerat. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Nam at tortor in tellus interdum sagittis. Cras ultricies mi eu turpis hendrerit fringilla. In ut quam vitae odio lacinia tincidunt.
    
      Nunc egestas, augue at pellentesque laoreet, felis eros vehicula leo, at malesuada velit leo quis pede. Vivamus elementum semper nisi. Vestibulum fringilla pede sit amet augue. Sed aliquam ultrices mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus.
    
      Proin faucibus arcu quis ante. Fusce risus nisl, viverra et, tempor et, pretium in, sapien. Nullam sagittis. Cras ultricies mi eu turpis hendrerit fringilla. Etiam sit amet orci eget eros faucibus tincidunt.
    
      Integer tincidunt. Nullam tincidunt adipiscing enim. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Etiam vitae tortor. Praesent nonummy mi in odio.
    
      Phasellus gravida semper nisi. Nullam dictum felis eu pede mollis pretium. Suspendisse pulvinar, augue ac venenatis condimentum, sem libero volutpat nibh, nec pellentesque velit pede quis nunc. Etiam sit amet orci eget eros faucibus tincidunt. In ut quam vitae odio lacinia tincidunt.</p>
      <div class="jobs-container">
        <div class="jobs-inner">
          <h2>Job Openings</h2>
          <div class="jobs-list">
            {% for job in jobs %}
              {% include 'jobitem.html' %}
            {% endfor %}
          </div>
          <button class="job-button">
            <a 
              href="#" 
              title="Contact Us" 
              aria-label="Contact Us">
              Contact Us
            </a>
          </button>
        </div>
      </div>
    </div>
  </section>
  
</body>
</html>