<style>
	.jobs-list {
		margin-bottom: 2rem;

		& .job-item {
			border-bottom: 1px solid #e0e0e0;  
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		& .job-icol__left {
			flex-basis: 50%;
		}

		& .job-col__right {
			display: flex;
			justify-content: end;
			flex-basis: 50%;
		}

		.salary {
			font-size: 0.95rem;
			font-weight: 500;
			color: green;
		}

		& h4 {
			margin-top: -1rem;
			font-wfont: style;
			font-style: italic;
			font-weight: 500;
			color: #9e9e9e;
		}

		& .apply-button {
			background-color: #3e3e3e;
			padding: 0.4rem 1rem;
			border: 0;

			& a {
				color: #fff;
				text-decoration: none; 
			}
		}
	}

	.job-button {
		background-color: #3e3e3e;
		padding: 0.4rem 1rem;
		border: 0;

		& a {
			color: #fff;
			text-decoration: none; 
		}
	}
</style>
<div class="job-item">
	<div class="job-col__left">
		<h3>
			{{job['title']}}
			{% if 'salary' in job %}
				<span class="salary">/ {{job['salary']}}</span>
			{% endif %}
		</h3>
		<h4>{{job['location']}}</h4>
	</div>
	<div class="job-col__right">
		<button class="apply-button">
			<a 
				href="#" 
				title="Apply" 
				aria-label="Apply Link">
				Apply
			</a>
		</button>
	</div>
</div>